<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} My Portfolio {% endblock %}
    </title>
    <!-- bootstrap links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <style>
        /* footer section */
        .footer-section{
    background:#070B16;
}

.footer-logo{
    color:white;
    font-weight:700;
    font-size:32px;
    font-family:'Poppins',sans-serif;
}

.footer-text{
    color:#9CA3AF;
    line-height:1.8;
}

.footer-heading{
    color:white;
    margin-bottom:25px;
}

.footer-links{
    list-style:none;
    padding:0;
}

.footer-links li{
    margin-bottom:15px;
}

.footer-links a{
    color:#9CA3AF;
    text-decoration:none;
    transition:0.3s;
}

.footer-links a:hover{
    color:#00D1FF;
}

.footer-socials a{
    display:block;
    margin-bottom:15px;
    color:#9CA3AF;
    text-decoration:none;
    transition:0.3s;
}

.footer-socials a:hover{
    color:#00D1FF;
}

.footer-line{
    border-color:rgba(255,255,255,0.08);
    margin:40px 0 20px;
}

.copyright-text{
    color:#9CA3AF;
    margin:0;
}
#topBtn{

    display:none;

    position:fixed;

    bottom:20px;

    right:20px;

    z-index:999999;

    width:55px;

    height:55px;

    border:none;

    border-radius:50%;

    background:linear-gradient(
        90deg,
        #00D1FF,
        #7A5CFF
    );

    color:white;

    font-size:22px;

    cursor:pointer;

}
#topBtn{
display:block !important;
}
</style>
</head>
<body>
    <button id="topBtn">↑</button>
    
    <!-- navbar section -->
    {% load static %}
    <br><br><br>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark py-3">
    <div class="container">

        <a class="navbar-brand d-flex align-items-center" href="/">
            
            <img src="{% static 'images/logo.png' %}" 
                 alt="Mr&Mrs Tech Solutions Logo"
                 width="50"
                 height="50"
                 class="me-2 rounded-circle">

            <span class="brand-text">
                MS Tech Solutions
            </span>

        </a>

        <button class="navbar-toggler" type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            
            <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'homepage' %}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services' %}">Services</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'projects' %}">Projects</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog_homepage' %}">Blog</a>
                </li>
                <li class="nav-item dropdown">

                    <a
                        class="nav-link dropdown-toggle text-white"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                    >

                        <i class="bi bi-person-circle"></i>

                        {{ request.user.username }}

                    </a>

                    <ul class="dropdown-menu dropdown-menu-end">

                        <li>

                            <a
                                class="dropdown-item"
                                href="{% url 'profile' %}"
                            >

                                👤 Profile

                            </a>

                        </li>

                        <li>

                            <a
                                class="dropdown-item"
                                href="{% url 'dashboard' %}"
                            >

                                📊 Dashboard

                            </a>

                        </li>

                        <li>

                            <a
                                class="dropdown-item"
                                href="{% url 'settings' %}"
                            >

                                ⚙️ Settings

                            </a>

                        </li>
                        <li>

                            <a
                                class="dropdown-item"
                                href="{% url 'blog_create' %}"
                            >

                                📝 Create Post

                            </a>

                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>

                            <a
                                class="dropdown-item text-danger"
                                href="{% url 'logout' %}"
                            >

                                🚪 Logout

                            </a>

                        </li>

                    </ul>

                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'homepage' %}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services' %}">Services</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'projects' %}">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog_homepage' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">SignUp</a>
                </li>
                {% endif %}
            </ul>

        </div>
        
    </div>
    </nav>

    {% block content %}
    {% endblock %}
    <!-- Scroll To Top Button -->

    
    <footer class="footer-section pt-5 pb-4">

    <div class="container">

        <div class="row g-5">

            <!-- Brand -->

            <div class="col-lg-4">

                <h2 class="footer-logo">
                    MS Tech Solutions
                </h2>

                <p class="footer-text mt-4">
                    We create modern digital solutions,
                    websites, branding and business platforms
                    for startups and companies.
                </p>

            </div>

            <!-- Quick Links -->

            <div class="col-lg-2">

                <h5 class="footer-heading">
                    Quick Links
                </h5>

                <ul class="footer-links">

                    <li><a href="{% url 'homepage' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'projects' %}">Projects</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>

                </ul>

            </div>

            <!-- Services -->

            <div class="col-lg-3">

                <h5 class="footer-heading">
                    Services
                </h5>

                <ul class="footer-links">

                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">UI/UX Design</a></li>
                    <li><a href="#">SEO Optimization</a></li>
                    <li><a href="#">AI Integrations</a></li>

                </ul>

            </div>

            <!-- Social -->

            <div class="col-lg-3">

                <h5 class="footer-heading">
                    Follow Us
                </h5>

                <div class="footer-socials mt-4">

                    <a href="#">Instagram</a>
                    <a href="#">LinkedIn</a>
                    <a href="#">GitHub</a>

                </div>

            </div>

        </div>

        <hr class="footer-line">

        <div class="text-center">

            <p class="copyright-text">
                © 2026 MS Tech Solutions.
                All Rights Reserved.
            </p>

        </div>

    </div>

    </footer>


   <script>

const topBtn =
document.getElementById("topBtn");

window.onscroll = function () {

    if (
        document.body.scrollTop > 100 ||
        document.documentElement.scrollTop > 100
    ) {

        topBtn.style.display = "block";

    } else {

        topBtn.style.display = "none";

    }

};

topBtn.onclick = function () {

    window.scrollTo({
        top: 0,
        behavior: "smooth"
    });

};

</script>
</body>
</html>